@model CodeFirstMasterDetails.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Applicant" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" id="BrowsePhoto" name="Picture" accept="/images*" class="form-control" />
                @*<span asp-validation-for="PicPath" class="text-danger"></span>*@
                <div>
                        <img src="#" id="ImageDiv" class="img-thumbnail" style="height:auto; width:100px" />
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvilable" /> @Html.DisplayNameFor(model => model.IsAvilable)
                </label>
            </div>
        </div>
            <div class="col-md-12">
                <h1>Applicant Exprience</h1>
                <table class="table table-info">
                    <thead>
                        <tr>
                            <td>Company</td>
                            <td>Designation</td>
                            <td>Year Of Exprience</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i=0; i < Model.Exprience.Count;i++){
                            <tr>
                                <input asp-for="Exprience[i].Id" class="form-control" type="hidden" />
                                <td>
                                    <input asp-for="Exprience[i].Company" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="Exprience[i].Designation" class="form-control" />
                                </td>
                                <td>
                                    <input asp-for="Exprience[i].YearOfExp" class="form-control" />
                                </td>
                                    <td>
                                    <input type="submit" value="Add" name="btn" class="btn btn-outline-info" formnovalidate />
                                    <input type="submit" value="Remove" onclick="Remove(this)" name="btn" class="btn btn-dark" formnovalidate />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" name="btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function Remove(e) {
         $(e).closest('tr').remove();
        }

        $(document).ready(function(){
            $("#BrowsePhoto").change(function (e) {
                ImageDiv.src = URL.createObjectURL(e.target.files[0])
            })
        })
    </script>
}
